:root {
  --base-color-dark: rgb(25, 50, 75);
  --base-color-medium: rgb(48, 97, 146);
  --base-color-light: rgb(200, 216, 232);
  --accent-color: hsla(30, 70%, 50%, 1);
  --transparent-color: rgba(192, 192, 192, 0.74);
  --transparent-color-dark: rgba(145, 144, 144, 0.705);
}

body {
  margin: 5%;
  padding: 20px;
  max-width: 75%;
  line-height: 1.2em;
  color: var(--base-color-dark);
  background-color: var(--transparent-color-dark);
  background-image: url('background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: var(--base-color-dark);
  color: var(--base-color-light);
  padding: 1.5%;
  font-size: 1.5em;
  border: 1px solid black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  display: inline-block;
  background-color: var(--base-color-medium);
  border: 2px solid transparent;
  border-radius: 5px;
  color: var(--base-color-light);
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 8px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

nav a:hover {
  background-color: var(--base-color-light);
  color: var(--base-color-medium);
  border-color: var(--accent-color);
}

nav.local {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 1.5%;
}

nav.local a {
  background-color: var(--base-color-medium);
  border: 0;
  color: var(--base-color-light);
  font-weight: 300;
  padding: 8px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav.local a:hover {
  background-color: var(--base-color-light);
  color: var(--base-color-medium);
}

.main-content {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

td, th {
  border: 1px solid;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: var(--base-color-light);
}

th {
  background-color: var(--base-color-dark);
  color: var(--base-color-light);
  font-weight: bold;
}

tr:hover {
  background-color: var(--base-color-medium);
}

fieldset {
  border: 1px solid var(--base-color-dark);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

legend {
  padding: 0 10px;
  font-weight: bold;
  color: var(--base-color-light);
  border: 1px solid var(--base-color-dark);
  border-radius: 5px;
  background-color: var(--base-color-dark);
}

fieldset:hover {
  background-color: var(--base-color-light);
}

p {
  font-size: 16px; /* Adjust the font size */
  line-height: 1.5; /* Adjust the line height for readability */
  color: var(--base-color-dark); /* Change the text color */
  margin-bottom: 20px; /* Add space below each paragraph */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }
  header {
    padding: 1%;
    font-size: 1.2em;
  }
  nav a {
    padding: 8px 12px;
  }
}
