<table>
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.employee_id}}</td>
            <td>{{this.store_id}}</td>
            <td>{{this.hours_worked}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Adding Staffing</h2>
<p>Add an employee and their staffing hours at a store. </p>
<form id="add-staffing-form" method="POST" action="/add-staffing-form">
    <label for="input-employee-id">Employee ID: </label>
    <input type="text" name="input-employee-id" id="input-employee-id">
    
    <label for="input-store-id">Store ID: </label>
    <input type="text" name="input-store-id" id="input-store-id">

    <label for="input-hours">Hours Worked: </label>
    <input type="number" name="input-hours" id="input-hours">


    <input type="submit">
</form>